body{
    background:#ffe6f0;
    font-family:Arial;
    text-align:center;
    margin:0;
    padding:20px;
}

.container{
    background:white;
    max-width:500px;
    margin:auto;
    padding:20px;
    border-radius:20px;
    box-shadow:0 0 15px rgba(0,0,0,0.1);
}

input{
    width:90%;
    padding:10px;
    margin:8px;
    border-radius:10px;
    border:1px solid #ccc;
}

button{
    background:#ff4da6;
    color:white;
    padding:12px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

#resultado{
    margin-top:15px;
    font-weight:bold;
    color:#ff4da6;
}
